.startButton {
    width: 80%;
    height: 10%;
    border-radius: clamp(0.6rem, 1.2vw, 5rem);
    margin: 20px 0px 20px 0px;
    font-size: clamp(1.3rem, 2vw, 4rem);
    background-color: blueviolet;
    color: white;
    border-style: none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

@media (min-width:768px) {
    .startButton {
        width: 320px;
    }
}

@media (min-width:1920px) {
    .startButton {
        width: 520px;
    }
}

@media (min-width:3840px) {
    .startButton {
        width: 1040px;
    }
}